@import "tailwindcss";

@layer utilities {
    @keyframes fadeInOut {
        0% {
            opacity: 0;
            transform: translate(-50%, -50%) scale(0.9);
        }
        100% {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1);
        }
    }

    .animate-fade-in {
        animation: fadeInOut 0.3s ease-in-out;
    }
}